<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Comic Book Shop - Comics </title>
    <link rel="stylesheet" href="/styles/comics.css" />
    <link rel="shortcut icon" href="/uploads/comic_book.ico" />
<script src="js/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        {{#if user}}
          <a class="btn" href="/">Home</a>
          <a class="btn" href="/comics">Comics</a>
          <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout" class="btn2" />
          </form>
        {{else}}
          <a class="btn" href="/auth/login">Login</a>
          <a class="btn" href="/auth/register">Register</a>
        {{/if}}

      </nav>
    </header>
    <main>
      <div class="wrapper">
        {{#each arrayComics}}
          <div class="card">
            <img src="{{image}}" alt="" width="200px" />
            <div class="descriptions">
              <h2>{{title}}</h2>
              <h3>{{subtitle}}</h3>
              <h5><strong>Number:</strong>
                {{numberOfTheCollection}}
                of
                {{numberTotalCollection}}</h5>
              <h5><strong>Authors: </strong>{{authors}}</h5>
              <h5><strong>Number of pages: </strong>{{numberOfPages}}</h5>
              <h5><strong>Date of upload: </strong>{{dateOfUpload}}</h5>
              <h5><strong>Score: </strong>{{score}}</h5>
              <a onclick="deleteComic('{{_id}}')" style="margin: 70px">
                  <button class="actions__cancel">DELETE</button>
                </a>
            </div>
          </div>
        {{/each}}
        <form
          action="/comics/add-comic"
          method="POST"
          class="card"
          enctype="multipart/form-data"
        >
          <img
            width="200px"
            src="/uploads/Add.jpg"
            alt=""
          />
          <div class="descriptions">
            <input type="text" name="title" placeholder="Title" />
            <input type="text" name="subtitle" placeholder="Subtitle" />
            <input name="image" type="file" required placeholder="Image" />
            <input
              type="text"
              name="numberOfTheCollection"
              placeholder="Number of the Collection"
            />
            <input
              type="text"
              name="numberTotalCollection"
              placeholder="Total # Collection"
            />
            <input type="text" name="authors" placeholder="Authors" />
            <input
              type="text"
              name="numberOfPages"
              placeholder="Number of Pages"
            />
            <input type="text" name="score" placeholder="Score" />
            <input
              type="text"
              name="dateOfUpload"
              placeholder="Date of Upload"
            />
            <button type="submit">Add</button>
          </div>

        </form>
      </div>
    </main>
<footer class="footer-distributed">

					<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="https://github.com/lethamburn">GitHub</a>

					<a href="#">Twitter</a>

					<a href="#">Facebook</a>

					<a href="#">Instagram</a>

					<a href="#">Contact</a>
				</p>

				<p>Comic Book Shop &copy; 2021</p>
			</div>

		</footer>
  </body>
</html>