<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{title}} </title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    {{#each arrayComics}}
      <figure>
        <h2>{{name}}</h2>
        <h3>{{subtitle}}</h3>
        <p><strong>Number:</strong>
          {{numberOfTheCollection}}
          of
          {{numberTotalCollection}}</p>
        <p><strong>Authors: </strong>{{authors}}</p>
        <p><strong>Number of pages: </strong>{{numberOfPages}}</p>
        <p><strong>Date of upload: </strong>{{dateOfUpload}}</p>
        <img src="{{image}}" alt="" width="200px" />
      </figure>
    {{/each}}
  </body>
</html>