<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{title}} </title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="wrapper">
    {{#each arrayUsers}}
      <div class="card">
        <img src="{{image}}" alt="" width="200px" />
        <div class="descriptions">
        <h2>{{name}}</h2>
        <h3>{{subtitle}}</h3>
        <h5><strong>Number:</strong>
          {{numberOfTheCollection}}
          of
          {{numberTotalCollection}}</h5>
        <h5><strong>Authors: </strong>{{authors}}</h5>
        <h5><strong>Number of pages: </strong>{{numberOfPages}}</h5>
        <h5><strong>Date of upload: </strong>{{dateOfUpload}}</h5>
          <h5><strong>Score: </strong>{{score}}</h5>
        </div>
      </div>
    {{/each}}
  </body>
</html>